{{define "index"}}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>Julien's Judge</title>
      <meta name="description" content="Platform for a software development course">
      <meta name="keywords" content="judge">

      <link rel="stylesheet" href="https://classless.de/classless.css">
      <link rel="stylesheet" href="https://classless.de/addons/tabbox.css">

      <script src="https://unpkg.com/htmx.org@2.0.4"></script>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
      <script>hljs.highlightAll();</script>
   </head>

   <body>
      <div style="text-align: center">
         <span style="font-size: 4em">JULIEN'S JUDGE</span>
         <nav>
            <ul>
               <li>Homepage</li>
               <li><a href="#">Aufgaben ▾</a>
                  <ul>
                     <li><a href="#">Menu 1</a></li>
                     <li><a href="#">Menu 2</a></li>
                  </ul>
               </li>
               <li><a href="#">Folien ▾</a>
                  <ul>
                     <li><a href="#">Menu 1</a></li>
                     <li><a href="#">Menu 2</a></li>
                  </ul>
               </li>
               <li class="float-right" hx-post="/username" hx-trigger="load" hx-swap="outerHTML"></li>
            </ul>
         </nav>
      </div>

      <div style="margin-bottom: 3em">
         {{.}}
         <div style="margin-top: 2em">
            <a href="#"><span>&lt;</span> Zurück zur Homepage</a>
         </div>
         <!-- TODO: "zur nächsten Aufgabe" Navigation -->
      </div>
   </body>
</html>
{{end}}
