{{define "index"}}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>Julien's Judge</title>
      <meta name="description" content="Platform for a software development course">
      <meta name="keywords" content="judge">

      <link rel="stylesheet" href="https://classless.de/classless.css">
      <link rel="stylesheet" href="https://classless.de/addons/tabbox.css">

      <script src="https://unpkg.com/htmx.org@2.0.4"></script>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
      <script>hljs.highlightAll();</script>
   </head>

   <body>
      <div style="text-align: center">
         <span style="font-size: 4em">JULIEN'S JUDGE</span>
         <nav>
            <ul>
               <li><a href="/">Homepage</a></li>
               <li><a href="https://docs.google.com/presentation/d/1qj48AVlKqg2L8OF6gxvUwdZsH4xYOMvVKkDypz5N-sk/edit?usp=sharing">Folien</a></li>
               <li><a href="/token">Token</a></li>
               <li><a href="#">Aufgaben ▾</a>
                  <ul>
                     {{range .Exercises}}
                     <li><a href="{{.Link}}">{{.Name}}</a></li>
                     {{end}}
                  </ul>
               </li>

               <!-- Eingeloggt sein -->
               <li class="float-right" hx-post="/username" hx-trigger="load" hx-swap="outerHTML"></li>
            </ul>
         </nav>
      </div>

      <div style="margin-bottom: 3em">
         {{.Body}}
         <div style="margin-top: 2em">
            <a href="/"><span>&lt;</span> Zurück zur Homepage</a>
         </div>
      </div>
   </body>
</html>
{{end}}
